#profile-container {
  width: 70%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#user-name {
  text-align: center;
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

#my-list-section, #my-friends-section, #add-friend-area {
  margin-top: 20px;
}

h2 {
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
  color: #007bff;
  font-family: 'Arial', sans-serif;
  margin-bottom: 15px;
}

#my-list, #my-friends {
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

#my-list {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: #555;
}

li:last-child {
  border-bottom: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"] {
  padding: 10px;
  width: calc(100% - 22px);
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

#searchResults {
  margin-top: 20px;
}

.search-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  gap: 10px;
}

.search-item button {
  background-color: #28a745;
  border: none;
}

.search-item button:hover {
  background-color: #218838;
}

#backButton {
  background-color: #6c757d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

#backButton:hover {
  background-color: #5a6268;
}

#my-list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.movie-list {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: auto;
  height: 150px;
}

.movie-list h3 {
  margin-top: 0;
  font-size: 1.2em;
}
