body {
    padding: 0;
    margin: 0;
    background-color: #e5e7eb;
}
#logo {
    width: 40px;
    border-radius: 8px;
}
#site\ header {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    padding: 16px 36px;
    border-bottom: 2px solid #452262;
}
#login {
    border-radius: 8px;
    border: 1px solid #452262;
    color: #f9f2ff;
    background-color: #374151;
    cursor: pointer;
    padding: 0 16px;
}
#search\ area {
    background-color: #374151;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 2px solid #252d37;
}
#search\ bar {
    width: 40%;
    height: 36px;
    border-radius: 8px;
    resize: none;
    padding: 8px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px;
}
