body {
    padding: 0;
    margin: 0;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#logo {
    width: 40px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#site-header {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    padding: 16px 36px;
    border-bottom: 2px solid #452262;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#login {
    border-radius: 8px;
    border: 1px solid #452262;
    color: #f9f2ff;
    background-color: #374151;
    cursor: pointer;
    font-size: 16px;
    padding: 0 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}


#login:active {
    background-color: #2a323e;
}

#search-area {
    height: 36px;
    background-color: #374151;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 2px solid #252d37;
    position: relative;
    overflow: visible;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#search-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    width: 40%;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#search-bar {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    background: #fff;
    border-radius: 18px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #252d37;
    outline: none;
}

#suggestions {
    width: 100%;
    max-height: 210px;
    display: none;
    overflow-y: auto;
}

.suggestion-item {
    font-family: sans-serif;
    padding: 8px 12px;
    border-top: 1px solid #eee;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

#content-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    height: 80%;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}
.ranking-area {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}
.ranking-div {
    height: 50%;
    width: 55%;
    background-color: white;
    border-radius: 36px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
/* Scrollbar styling */
#suggestions::-webkit-scrollbar {
    width: 10px;
}

#suggestions::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 5px;
}

#suggestions::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

#suggestions::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#suggestions::-webkit-scrollbar-button:start:increment {
    height: 1%;
    display: block;
    background: transparent;
}

#suggestions::-webkit-scrollbar-button:end:decrement {
    height: 8%;
    display: block;
    background: transparent;
}

#overlayDim {/*dims the screen when movieBox is open*/
  position: fixed;
  display:none;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.5);
  cursor: pointer;
  top:0;
  left:0;
  z-index: 1;
}

.movieBox{/*movieBox to review movie*/
  width:500px;
  height:500px;
  margin:4px auto;
  z-index: 2;
  background-color: white;
  text-align: center;
  position: relative;
}

.movieBox-header{
  font-size:30px;
  width:100%;
  background: blueviolet;
  text-align: center;
  color:white;
}

.closeButton{
  padding:7px;
  position: absolute;
  bottom:0;
  right:0;
  background-color: blueviolet;
  color:white
}

.like{
  height:100px;
  width:100px;
  border-radius:50%;
  background-color: green;
}

.dislike{
  height:100px;
  width:100px;
  border-radius:50%;
  background-color: red;
}
.myRankBar{
  font:20px Times New Roman;
  width:90%;
  height:30px;
  background:#374151;
  padding:0px; 
  color:white;
}
